@model List<HallazgoModel>
@{
    ViewData["Title"] = "Listar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card">
  <div class="card-header">
    Lista de Hallazgos
  </div>
  <div class="card-body">
    
   <a asp-action="Guardar" asp-controller="MantenedorH" class="btn btn-success" > <i class="bi bi-plus-circle"></i> Crear Nuevo Hallazgo</a>

   <hr />

   <table class="table table-bordered">
         <thead>
             <tr>
                 <th>IdHallazgo</th>
                 <th>Comentario</th>
                 <th>Recomendacion</th>
                 
                 <th></th>
             </tr>
         </thead>
         <tbody>
             @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.IdHallazgo</td>
                       <td>@item.Comentario</td>
                       <td>@item.Recomendacion</td>
                        <td class="">
                            <a asp-action="Editar" asp-controller="MantenedorH" class="btn btn-primary btn-sm" asp-route-IdHallazgo=@item.IdHallazgo><i class="bi bi-pencil-square"></i> Editar</a>
                            <a asp-action="Eliminar" asp-controller="MantenedorH" class="btn btn-danger btn-sm" asp-route-IdHallazgo=@item.IdHallazgo><i class="bi bi-trash"></i> Eliminar</a>
                        </td>
                    </tr>
                }
            </tbody>

     </table>



  </div>
</div>


