@model ActivoModel
@{
    ViewData["Title"] = "Guardar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card">
  <div class="card-header">
    Crear Activo
  </div>
  <div class="card-body">
    
      <form asp-action="Guardar" asp-controller="Mantenedor" method="post">
          <div class="mb-3">
            <label class="form-label"> IdActivo </label>
            <input asp-for="IdActivo" type="text" class="form-control" >
            <span asp-validation-for="IdActivo" class="text-danger"></span>
          </div>

          <div class="mb-3">
            <label class="form-label"> Nombre </label>
            <input asp-for="Nombre" type="text" class="form-control">
            <span asp-validation-for="Nombre" class="text-danger"></span>
          </div>

          <div class="mb-3">
            <label class="form-label"> Descripcion </label>
            <textarea  asp-for="Descripcion" type="text" class="form-control"></textarea>
            <span asp-validation-for="Descripcion" class="text-danger"></span>
          </div>

          <!--
          <div class="mb-3">
            <label class="form-label"> Tipo </label>
            <input asp-for="Tipo" type="text" class="form-control">
            <span asp-validation-for="Tipo" class="text-danger"></span>
          </div>
          -->

          <div class="input-group input-group-static mb-3">
              <div class="">  </div> 
              <br />
                <select asp-for="Tipo" class="form-control" id="exampleFormControlSelect1">
                       <option   value="">Tipo</option>
                       
                       <option   value="Informacion">Informacion</option>
                       <option  value="Software">Software</option>
                       <option   value="Recurso Humano">Recurso Humano</option>
                       <option   value="Servicio">Servicio</option>
                       <option  value="Hardware">Hardware</option>
                       <option   value="Otro">Otro</option>
                       
               
                </select>
             
           </div>

          <!--
          <div class="mb-3">
            <label class="form-label"> Departamento </label>
            <input asp-for="Departamento" type="text" class="form-control">
            <span asp-validation-for="Departamento" class="text-danger"></span>
          </div>
          -->

          <div class="input-group input-group-static mb-3">
              <div class="">  </div> 
              <br />
                <select asp-for="Departamento" class="form-control" id="exampleFormControlSelect1">
                       <option   value="">Departamento</option>
                       
                       <option   value="Contabilidad">Contabilidad</option>
                       <option  value="RRHH">RRHH</option>
                       <option   value="Compras">Compras</option>
                       <option   value="Seguridad">Seguridad</option>
                       <option  value="IT">IT</option>
                       <option   value="Calidad">Calidad</option>
                       <option   value="Almacenes">Almacenes</option>
                       <option  value="Administracion">Administracion</option>
                       <option   value="Produccion">Produccion</option>
               
                </select>
             
           </div>

           <!--
          <div class="mb-3">
            <label class="form-label"> Clasificacion </label>
            <input asp-for="Clasificacion" type="text" class="form-control">
            <span asp-validation-for="Clasificacion" class="text-danger"></span>
          </div>
            -->

          <div class="input-group input-group-static mb-3">
              <div class="">  </div> 
              <br />
                <select asp-for="Clasificacion" class="form-control" id="exampleFormControlSelect1">
                       <option   value="">Clasificacion</option>
                       
                       <option   value="Confidencialidad">Confidencialidad</option>
                       <option  value="Integridad">Integridad</option>
                       <option   value="Disponibilidad">Disponibilidad</option>
                       
               
                </select>
             
           </div>

          <!--
          <div class="mb-3">
            <label class="form-label"> Criticidad </label>
            <input asp-for="Criticidad" type="text" class="form-control" >
            <span asp-validation-for="Criticidad" class="text-danger"></span>
          </div>
          -->

          <div class="input-group input-group-static mb-3">
              <div class="">  </div>
                <select asp-for="Criticidad" class="form-control" id="exampleFormControlSelect1">
                        <option   value="">Criticidad</option>

                       <option   value="Baja">Baja</option>
                       <option  value="Media">Media</option>
                       <option   value="Alta">Alta</option>
               
                </select>
                
           </div>

          <div class="mb-3">
            <label class="form-label"> Propietario </label>
            <input asp-for="Propietario" type="text" class="form-control">
            <span asp-validation-for="Propietario" class="text-danger"></span>
          </div>

          <div class="mb-3">
            <label class="form-label"> Custodio </label>
            <input asp-for="Custodio" type="text" class="form-control">
            <span asp-validation-for="Custodio" class="text-danger"></span>
          </div>

          <div class="mb-3">
            <label class="form-label"> Usuarios </label>
            <input asp-for="Usuarios" type="text" class="form-control">
            <span asp-validation-for="Usuarios" class="text-danger"></span>
          </div>

          <div class="mb-3">
            <label class="form-label"> Fecha Ingreso </label>
            <input asp-for="Fecha_Ingreso" type="text" class="form-control">
            <span asp-validation-for="Fecha_Ingreso" class="text-danger"></span>
          </div>

          <div class="mb-3">
            <label class="form-label"> Fecha Salida </label>
            <input asp-for="Fecha_Salida" type="text" class="form-control">
            
          </div>

          <button type="submit" class="btn btn-primary">Guadar</button>
          <a asp-action="Listar" asp-controller="Mantenedor" class="btn btn-warning" >Volver a la Lista</a>
       </form>

  </div>
</div>

