@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 >Bienvenidos al Sistema de Auditoria WENET</h1>

    <img  class="img-fluid" width="650" height="450" src="https://blog.fmb.mx/hubfs/auditoria-digital-mkt-consultoria-estrategica-fmb-2021.png" 
    alt="Auditoria"/>

    <hr />

    <h3 class="text-start p-5">¿Qué es una Auditoría?</h3>
    <span class="justify-content fst-italic" >Una auditoría, en el contexto de la economía y el mundo empresarial, 
        es el proceso de evaluación minuciosa de una sociedad u organización con el ánimo de conocer sus 
        características específicas, así como sus fortalezas y debilidades.
    </span>

    <hr />

        <h3 class="text-start p-5">¿Qué busca una Auditoría?</h3>
    <span class="justify-content fst-italic" >Principalmente, una auditoría persigue localizar aspectos relacionados con la rentabilidad o 
        la eficiencia en los diferentes departamentos o delegaciones corporativas que conforman una empresa.
    </span>

    <hr />

        <h3 class="text-start p-5">¿Qué Tipos de Auditoría existen?</h3>
    <span class="justify-content fst-italic" >Alternativamente, una auditoría puede ser ejercida por profesionales auditores pertenecientes
        a la propia organización o procedentes del exterior. De ese modo, y atendiendo a dicha distinción,
        es posible distinguir entre las modalidades de auditoría interna y externa. 
    </span>


        

</div>
