@model AuditoriaModel

@{
    ViewData["Title"] = "Eliminar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card">
  <div class="card-header">
    Eliminar Auditoria
  </div>
  <div class="card-body">
    
      <form asp-action="Eliminar" asp-controller="MantenedorA" method="post">
           
            <input asp-for="IdAuditoria" type="hidden" class="form-control" >
            
            <div class="alert alert-danger" role="alert">
                  ¿Eliminar Auditoria? : @Html.DisplayTextFor(m => m.IdAuditoria) ?
                </div>

          <button type="submit" class="btn btn-danger">Eliminar</button>
          <a asp-action="Listar" asp-controller="MantenedorA" class="btn btn-warning" >Volver a la Lista</a>
       </form>

  </div>
</div>

